#cea-status-bar-container {
  width: 100%;
  height: 24px;
  color: white;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
  font-size: 12px;
  box-sizing: border-box;
}

.cea-status-bar-button {
  display: flex;
  gap: 8px;
  padding: 0 6px;
  margin: 0 4px;
  height: 100%;
  align-items: center;
}

.cea-status-bar-button * {
  user-select: none;
}

.cea-status-bar-button:hover {
  background-color: #555;
  cursor: pointer;
}

.cea-status-bar-button:active {
  background-color: #777;
}

.cea-status-bar-button.primary {
  background: #1470af;
}

.cea-status-bar-button.primary:hover {
  background-color: #4080ab;
}

.cea-status-bar-button svg {
  font-size: 16px;
}

#cea-status-bar-left,
#cea-status-bar-right {
  display: flex;
  align-items: center;
}
