#cea-status-bar-container {
  width: 100%;
  height: 24px;
  color: white;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}

.cea-status-bar-button {
  margin: 0 5px;
  padding: 5px;
  height: 100%;
}

.cea-status-bar-button * {
  user-select: none;
}

.cea-status-bar-button:hover {
  background-color: #555;
  cursor: pointer;
}

.cea-status-bar-button:active {
  background-color: #777;
}

.cea-job-list-popover .ant-popover-inner {
  width: 500px;
}

.cea-job-list-popover .ant-popover-inner-content {
  background-color: #aaaaaa;
  padding: unset;
  overflow: auto;
}

.cea-job-list-popover-collapse:hover {
  cursor: pointer;
}

.cea-job-info-card {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  margin-bottom: 1px;
}

.cea-job-info-card:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.ant-notification {
  z-index: 1050;
}

.ant-notification:hover {
  cursor: pointer;
}
