/* Fix proper overflow by allowing spin containre to follow card height */
.cea-tool-wrapper .ant-spin-nested-loading,
.cea-tool-wrapper .ant-spin-container {
  height: 100%;
}

.cea-tool-form-buttongroup {
  display: flex;
  align-items: center;

  gap: 12px;
}
.cea-tool-form-buttongroup button {
  font-size: 12px;
}

.cea-tool-suggestions {
  /* Reset default button styles */
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: left;

  /* Align child elements */
  display: flex;
  gap: 8px;
  align-items: center;
}

.cea-tool-suggestions:hover {
  text-decoration: underline;
  color: #1677ff;
}
