#map-tooltip:empty {
  display: none;
}
#map-tooltip {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  position: absolute;
  padding: 4px;
  margin: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.network-toggle {
  position: absolute;
  z-index: 5;
  background: #fff;
  padding: 5px;
}

.map-plot-label {
  font-size: 12px;
}

.map-plot-label.network-label {
  display: block;
}

#layers-group {
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
}

#layers-group span {
  padding: 5px;
}
