.cea-database-editor-tabs .ant-tabs-nav .ant-tabs-tab {
  margin-right: 0;
  user-select: none;
}

.cea-database-editor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr auto;
}

.cea-database-editor-header {
  display: flex;
  justify-content: space-between;
  grid-row: 1/2;
}

.cea-database-editor-content {
  grid-row: 2/3;
}

.cea-database-editor-footer {
  grid-row: 3/-1;
}

.cea-database-editor-header button {
  margin-left: 10px;
}

.cea-database-editor-database {
  margin: 20px;
}

.cea-database-editor-saving-modal-footer button {
  margin-left: 10px;
}

.handsontableEditor.autocompleteEditor table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.handsontableEditor.autocompleteEditor table strong {
  font-weight: normal;
}

.handsontableEditor.autocompleteEditor .current.highlight {
  background: rgba(24, 144, 255, 0.2);
}

.handsontableEditor.autocompleteEditor .current.highlight * {
  font-weight: bold;
}
