.cea-database-editor-tabs .ant-tabs-nav .ant-tabs-tab {
  margin-right: 0;
}

/* .cea-database-editor-schedules-sheet {
  height: 500px;
}

.cea-database-editor-schedule-year {
  height: 70px;
}

.cea-database-editor-schedule-data {
  height: 120px;
} */
