.cea-job-info-list {
  height: 100%;
  width: 100%;
  pointer-events: auto;
}

.cea-job-info-list .cea-job-info-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border: 0.1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
