.cea-job-info-list {
  position: relative;
  pointer-events: auto;

  display: flex;
  gap: 8px;

  height: 100%;
}

.cea-job-info-list > .cea-job-info-card {
  flex: 1;
  min-width: 0;
}

.cea-job-status-badge {
  user-select: none;
}
