.cea-card-scenario-item {
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;

  background-color: #fff;

  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cea-card-scenario-item:hover {
  background-color: #f5f5f5;
}

.cea-card-icon-button-container {
  /* background-color: #f1f1f1; */
  border-radius: 12px;
  outline: 1px solid #dddddd;
  padding: 3px;

  display: flex;
  align-items: center;
}

.cea-card-icon-button-container svg {
  padding: 6px;
  border-radius: 8px;

  font-size: 18px;
}

.cea-card-icon-button-container svg:hover {
  background: #dddddd;
}
