.cea-job-info-card-list.collapsed {
  max-height: 104px;
}

.cea-job-info-card-list.expanded {
  max-height: 100%;
}

.cea-job-info-card-list.collapsed .cea-job-info-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.cea-job-info-card-list.collapsed
  .cea-job-info-card:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  display: none;
}

.cea-job-info-card-list.collapsed .cea-job-info-card:first-child {
  z-index: 3;
}

.cea-job-info-card-list.collapsed .cea-job-info-card:nth-child(2) {
  z-index: 2;
  transform: translateY(78px) scale(0.95);
  pointer-events: none;
}

.cea-job-info-card-list.collapsed .cea-job-info-card:nth-child(3) {
  z-index: 1;
  transform: translateY(156px) scale(0.9);
  pointer-events: none;
}

.cea-job-info-card {
  background-color: rgba(255, 255, 255, 1);
  padding: 8px;
  border-radius: 12px;
  font-size: 14px;

  display: flex;
  user-select: none;
}

.cea-job-info-card:hover {
  /* background-color: #fafafa; */
  /* transform: scale(0.99); */
}

.cea-job-info-icon.danger {
  color: red;
}
.cea-job-info-icon.info {
  color: blue;
}

.cea-job-info-icon {
  overflow: visible;
  padding: 8px;
  border-radius: 4px;
}
.cea-job-info-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
