.cea-job-info-card-list {
  transition: max-height 0.3s ease-in-out;

  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;

  pointer-events: auto;
}

.cea-job-info-card-list.collapsed {
  height: 90px;
  max-height: 90px;
}

.cea-job-info-card-list.expanded {
  max-height: 100%;
  border-radius: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.cea-job-info-card-list .cea-job-info-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  border: 0.1px solid rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease-out;
}

/* Animation for new cards */
@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.cea-job-info-card-list .cea-job-info-card:first-child {
  z-index: 3;
  animation: slideUp 0.3s ease-out;
}

.cea-job-info-card-list .cea-job-info-card:nth-child(2) {
  z-index: 2;
}

.cea-job-info-card-list .cea-job-info-card:nth-child(3) {
  z-index: 1;
}

.cea-job-info-card-list .cea-job-info-card {
  z-index: 0;
}

.cea-job-info-card-list.collapsed .cea-job-info-card {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.cea-job-info-card-list.collapsed
  .cea-job-info-card:not(:first-child):not(:nth-child(2)):not(:nth-child(3)) {
  display: none;
}

/* Set initial positions for cards before they move */
.cea-job-info-card-list.collapsed .cea-job-info-card:nth-child(1) {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.cea-job-info-card-list.collapsed .cea-job-info-card:nth-child(2) {
  transform: translateY(-10px) scale(0.98);
  pointer-events: none;

  opacity: 0.98;
}

.cea-job-info-card-list.collapsed .cea-job-info-card:nth-child(3) {
  transform: translateY(-20px) scale(0.95);
  pointer-events: none;

  opacity: 0;
}
