#cea-project-overlay {
  position: absolute;
  top: 0;

  z-index: 1;

  pointer-events: none;

  height: calc(100vh - 24px);
  width: 100vw;

  padding: 12px;
  box-sizing: border-box;

  overflow: hidden;

  display: grid;
  gap: 8px;
  grid-template-areas:
    'left-sidebar header header'
    'left-sidebar . right-sidebar'
    'content content content'
    'bottom-bar bottom-bar status';

  grid-template-columns: 280px 1fr 480px;
  grid-template-rows: auto 1fr auto auto;
}

#cea-project-overlay.show-right-sidebar {
  grid-template-areas:
    'left-sidebar header right-sidebar'
    'left-sidebar header right-sidebar'
    'content content right-sidebar'
    'bottom-bar bottom-bar status';
}

.cea-overlay-card {
  pointer-events: auto;
}

.cea-overlay-card-full {
  pointer-events: auto;
  height: 100%;
  width: 100%;
}

.overlay-flex-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#cea-project-overlay-left-sidebar {
  grid-area: left-sidebar;
}

#cea-project-overlay-header {
  grid-area: header;

  /* Allow shrinking below content size */
  min-width: 0;
}

#cea-project-overlay-content {
  grid-area: content;
}

#cea-project-overlay-bottom-bar {
  grid-area: bottom-bar;
}

#cea-project-overlay-right-sidebar {
  grid-area: right-sidebar;
}

#cea-project-overlay-status {
  grid-area: status;
  position: relative;
}

/* #cea-project-overlay-left {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 0;
}

#cea-project-overlay-right {
  height: 100%;
  width: 750px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 12px;
}

#cea-project-overlay-left-top {
  display: flex;
  gap: 12px;
}

#cea-project-overlay-left-bottom {
  display: flex;

  flex-direction: column;
  justify-content: flex-end;

  gap: 12px;
} */
