.cea-card-toolbar-icon:hover {
  background-color: #4d4d4d;
  cursor: pointer;
}

.cea-card-toolbar-icon.inverted:not(.active):hover {
  background-color: #dadada;
}

.cea-card-toolbar-icon {
  padding: 8px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  color: #fff;
}

.cea-card-toolbar-icon.no-hover-color:hover {
  background-color: inherit;
}

.cea-card-toolbar-divider {
  height: 60%;
  margin: auto 3px;

  border-inline-start: 1px solid rgba(5, 5, 5, 0.3);
}

.cea-card-toolbar-icon-container {
  display: flex;
  background: #000;
  border-radius: 12px;

  height: fit-content;
  max-width: fit-content;

  gap: 4px;
  padding: 6px;
}
