.cea-input-editor-tabs .ant-tabs-nav .ant-tabs-tab {
  margin-right: 0;
}

.cea-input-editor-table .ant-card-body {
  padding: 0;
}

.cea-input-editor-table {
  /* min-height: 300px; */
}

.cea-input-editor-col-header-link {
  font-weight: bold;
  font-style: italic;
}

.cea-input-editor-col-header-link:hover {
  cursor: pointer;
}

.tabulator-edit-select-list {
  background-color: #eeeeee;
  max-height: 120px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
