body {
  margin: 0px;
  padding: 0px;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

pre {
  text-align: left;
}

.ant-input-group-addon {
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.ant-card-extra > .anticon {
  margin: 0px 10px;
}

.cea-input-editor .ant-tabs-tab,
.tabulator-edit-select-list,
.tabulator {
  font-family: 'Space Grotesk', sans-serif;
}

.tabulator-edit-select-list {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  border: #1890ff solid 1px;
  border-radius: 8px;
  margin: 8px;
  padding: 4px;
}

.tabulator-tableHolder {
  overscroll-behavior-x: none;
}
