#map-tooltip:empty {
  display: none;
}
#map-tooltip {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  position: absolute;
  padding: 4px;
  margin: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}

.network-toggle {
  position: absolute;
  z-index: 5;
  background: #fff;
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.layer-toggle .layer-toggle-label {
  display: flex;
  align-items: center;
  gap: 2px;
}

.map-plot-label.network-label {
  display: block;
}

#map-controls {
  position: absolute;
  z-index: 5;
  right: 0;
  background: #fff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px;
  border-radius: 8px;
  font-size: small;
}
