.cea-card-scenario-item {
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;

  background-color: #fff;

  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cea-card-scenario-item:hover {
  background-color: #f5f5f5;
}

.cea-scenario-select.ant-select {
  background-color: #000 !important;
  border-radius: 12px !important;
  border: none !important;
  font-weight: bold;
  height: 36px !important;
}
.cea-scenario-select.ant-select .ant-select-content-value,
.cea-scenario-select.ant-select .ant-select-suffix,
.cea-scenario-select.ant-select .ant-select-placeholder {
  color: #fff !important;
}

.cea-scenario-select-empty.ant-select .ant-select-suffix {
  display: none;
}
