.cea-card-scenario-item {
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;

  background-color: #fff;

  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cea-card-scenario-item:hover {
  background-color: #f5f5f5;
}
